<div>
  <h1>Timers</h1>
  <app-timer *ngFor="let timer of timers" init="{{timer}}" (onComplete)="showEndTimerAlert()"></app-timer>

  <button class="add" (click)="showAddTimer()">+</button>

  <app-alert-view [hidden]="!isAddTimerVisible">
    <div header>Add new timer</div>
    <label for="time">Set the number of seconds for you timer </label>
    <input type="number" [(ngModel)]="time">
    <button class="cancel-button" (click)="hiddenAddTimer()">Cancel</button>
    <button (click)="submitAddTimer()">Done</button>

  </app-alert-view>
  
  <app-alert-view [hidden]="!isEndTimerAlertVisible">
    <div header>Timer ended</div>
    <div>You countdown has finished</div>
    <button (click)="hideEndTimerAlert()">Done</button>
  </app-alert-view>
</div>